.loader {
    display: none;
    margin: auto auto;
}

.circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 3px;
    background: white;
    animation: loader .6s ease-in-out infinite;
}

.circle:nth-child(1) {
    animation-delay: .1s;
}

.circle:nth-child(2) {
    animation-delay: .2s;
}

.circle:nth-child(3) {
    animation-delay: .3s;
}

@keyframes loader {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, -20px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
