.btn {
    cursor: pointer;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 25px;
    transition: all .25s ease-in-out;
}

.btn.num {
    background: #464646;
    box-shadow: 4px 4px #242424;
}

.btn.num:hover, .btn.op:hover {
    box-shadow: none;
    margin: 4px -4px -4px 4px;
}

.btn.num:focus {
    background: #575757;
    outline: none;
}

.btn.op {
    background: #8a32d3;
    box-shadow: 4px 4px #621c9b;
}

.btn.op:focus {
    background: #a44fe9;
    outline: none;
}

@media screen and (max-width: 600px) and (min-width: 374px) {
    .btn {
        font-size: 7vw;
    }
}