.keyboard {
    display: grid;
    grid: repeat(5, 60px) / repeat(4, 1fr);
    grid-template-areas: 
    "clear divide multiply delete"
    "seven eight nine minus"
    "four five six plus"
    "one two three equals"
    "zero zero point equals";
    gap: 10px;
}

@media screen and (max-width: 600px) {
    .keyboard {
      height: 100%;
      display: grid;
      grid: repeat(5, 1fr) / repeat(4, 1fr);
      grid-template-areas:
        "clear divide multiply delete"
        "seven eight nine minus"
        "four five six plus"
        "one two three equals"
        "zero zero point equals";
      gap: 10px;
    }
  }
  
  @media screen and (max-width: 374px) {
      .keyboard {
          height: 100%;
          display: grid;
          grid: repeat(6, 1fr) / repeat(3, 1fr);
          grid-template-areas:
            "clear divide delete"
            "seven eight nine"
            "four five six"
            "one two three"
            "zero point multiply"
            "plus minus equals";
          gap: 10px;   
      }
  }